.footer {
    padding: 30px 0;
    background-color: #000;
}

.footer a {
    color: #FFFFFF;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .footer_nav {
        flex-direction: row;
        justify-content: center;
    }
}

.footer_nav  a {
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.footer_nav a:hover {
    opacity: 0.8;
}

.footer_nav > a + a {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .footer_nav > a + a {
        margin-top: 0px;
        margin-left: 30px;
    }
}
   
.footer_socials {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.footer_copyright {
    margin: 0 auto;
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #999999;
}