    /*Header*/

    .header_row {
        display: flex;
        flex-direction: column-reverse;
    }

    @media (min-width: 540px) {
        .header_row {
            position: relative;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }
    }

    @media (min-width:540px) {
    .herader_content {
        max-width: 55%;
        position: absolute; 
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        }
    }

    @media (min-width: 992px) {
        .herader_content {
            max-width: 670px;
            }
        }

    .header_title {
        margin: 0;
        margin-bottom: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: 32px;
        line-height: 1.3;
    }

    
    @media (min-width:992px) {
        .header_title {
            font-size: 72px;
        }
    }
    
    
    .herader_text {
        max-width: 600px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.5;
    }

    @media (min-width:992px) {
        .herader_text {
            font-size: 22px;
            margin-bottom: 60px;
        }
    }
    

    .header_photo {
        display: block;
        margin-bottom: 15px;
    }

    @media (min-width: 540px) {
        .header_photo {
            display: block;
            min-width: 50%;
        }
    }
    