.nav {
    padding: 40px 0;
}

/*For Desktop*/
@media (min-width: 992px) {
    .nav {
        padding: 40px 0;
    }
}    
    
.nav-row {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a.nav-logo {
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

@media (min-width: 992px) {
    a.nav-logo {
        margin-right: 83px;
    }
}

a.nav-logo:hover {
    color: #ec4175;
}

.nav_list-holder {
    display: none;
    /*opacity: 0;*/
    transition: opacity 0.2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.nav_list {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 270px;
   background-color: rgba(0, 0, 0);
   margin: 0;
   padding: 0;
   color: #fff;
   z-index: 9;
   transform: translateX(-100%);
   transition: transform 0.2s ease-in;
}

.nav_list-holder--visible {
    display: block;
    /*opacity: 1;*/
}

@media (min-width:992px) {
    .nav_list-holder {
        opacity: 1;
        position: static;
        background-color: transparent;
    }
}


.nav_list-holder--visible .nav_list {
    transform: translateX(0%);
}

@media (min-width:992px) {
    .nav_list {
        display: flex;
        position: static;
        color: #000;
        width: auto;
        background-color: transparent;
        transform: none;
    }
}

.nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_item {
    font-size: 18px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgb(91, 91, 91);
}

@media (min-width: 992px) {
    .nav_item {
        margin-right: 30px;
        padding: 0;
        border-bottom: none;
    }
}

.nav_item:last-child {
    margin-right: 0;
}
.nav_link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: inherit;
    /*border-bottom: 1px solid #747474;*/
}

@media (min-width:992px) {
    .nav_link {
        border-bottom: none;
    }
}

.nav_cart {
    margin-left: auto;
    margin-right: 35px;
}

@media (min-width:992px) {
    .nav_cart {
        margin-right: 0;
    }
}

.nav_cart-link {
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.nav_cart-number {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -4px;
    top: -3px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background: #F72464;
    text-align: center;
}